<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <title>Passport app</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
  <nav>

  </nav>
  
  <div class="container">
    {{#if success_msg}}
    <div class="alert alert-success">{{success_msg}}</div>
    {{/if}} {{#if error_msg}}
    <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}} {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
    {{/if}} {{#if errors}} {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
    {{/each}} {{/if}} {{{body}}}
  </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>